<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheet/style.css"></link>
		<title>页面未找到-SouFii's BlogOS</title>
	</head>
	<body>
		<div class="page404">
			<p>404</p><br>
			<p>页面没找到。。o_O</p>
		</div>
	</body>
</html>
