<nav>
	<span><a title="控制中心" href="/admin">RootDash</a></span>
	<span><a title="" href=""></a></span>
	<span><a title="" href="/archive">**</a></span>
	<span><a title="" href="">**</a></span>
	<span><a title="" href="">**</a></span>
	<span><a title="" href="/adminlogout">注销</a></span>
	<span>
	<form action="/search" method="GET">
		<input type="text" name="keyword" placeholder="SEARCH" class="search" />
	</form>	
	</span>
</nav>

