<nav>
	<span><a title="主页" href="/">DashBoard</a></span>
	<span><a title="标签" href="/tags">所有标签</a></span>
	<% if (locals.user) { %>
		<span><a title="归档" href="/u/<%= locals.user.name %>/archive">我的归档</a></span>
		<span><a title="标签" href="/u/<%= locals.user.name %>/tags/">我的标签</a></span>
		<span><a title="发布" href="/post">发布</a></span>
		<span><a title="注销" href="/logout">注销</a></span>
	<% } else { %>
		<span><a title="登录" href="/login">登录</a></span>
		<span><a title="注册" href="/reg">注册</a></span>
	<% } %>
	<% if (!locals.admin) { %>
		<span><a title="管理员" href="/adminlogin">后台管理</a></span>
		<span><a title="注册管理员" href="/adminreg">获取root</a></span>
	<% } else { %>
		<span><a title="注销" href="/adminlogout">退出root模式</a></span>
	<% } %>
	<span>
	<form action="/search" method="GET">
		<input type="text" name="keyword" placeholder="SEARCH" class="search" />
	</form>	
	</span>
</nav>

